/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: #7b811d;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #7b811d !important;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #7b811d;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #7b811d;
  }

/* Navbar Links when hovered*/
.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #ffffffab !important;
  background-color: #7b811d;
}

/* Whole document: */
body{
  font-family: OpenSans;
  font-size: 12pt;
  color: #004f6d;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 20pt;
}


/* navbar font */
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}